# KERNEL=="*", SUBSYSTEM=="usb", ATTR{idVendor}=="1d5a", ATTR{idProduct}=="c0e0", MODE="0777", SYMLINK+="sensor/imu"
KERNEL=="*", SUBSYSTEM=="usb", ATTR{idVendor}=="1d5a", ATTR{idProduct}=="c0e0", MODE="0777"

